.language{
    float: right;
    margin: 5px;
}

.top-menu{
    text-align: center;
  margin: 0 auto;

}


p{
max-width: 80%;
text-align: justify;
/*display: inline-block;*/
margin: 20px;
}


.project-image{
  height: 200px;
  float: left;
  margin: 50px;
}

.card{
display: inline-block;
margin: 20px;
border: 4px dotted blue;


}


.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

.left{
  /*float: left;*/

}
.right{
  /*float: right;*/
}
