.language{
    float: right;
    margin: 5px;
}

.top-menu{
  text-align: center;
  /*margin: 0 auto;*/

}

.menu-container{
  display: flex;
  gap: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aliceblue;
  font-size: 1.5rem;
  justify-content: center;
  

}

.main-container{
  display: flex;
  padding: 40px;
  /*flex-direction: row;*/  
  align-items: center;
  justify-content: center;
  
/*  max-width: 900px;*/
  flex-wrap: wrap;


}

.landing-page-container{
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 gap: 20px;
 width: 800px;;

}

.about-moi{
  background-color: rgb(209, 202, 212);
  
}

.skills{
  background-color: rgb(209, 202, 212);
    grid-area: 1 / 1 / 3 / 1;

}

.Project-highlights{
  background-color: rgb(144, 189, 192);
  grid-area: 1 / 3 / 3 / 5;

}


.blog{
     background-color: rgb(144, 189, 192);

}

.projects-intro{
  background-color: rgb(144, 189, 192);
    grid-area: 1 / 1 /3 / 5;


}

.card{
/*border: 4px dotted blue;
  grid-column: 1 / span 2;
  width: 50%;*/  

}


h3{
  margin: 0;
}
h4{
  margin: 0;
}


p{
max-width: 80%;
text-align: justify;
/*display: inline-block;*/
margin: 20px;
}

li{
  max-width: 80%;
  margin: 10px;

}


.project-image{
  height: 200px;
  float: left;
  margin: 50px;
}



.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

.left{
  /*float: left;*/

}
.right{
  /*float: right;*/
}

footer{
  float: right;
  width: 350px;
}

@media (max-width: 680px) {

  .landing-page-container{
    display: flex;
    flex-direction: column;
  }
  .menu-container{
    gap: 1rem;
    font-size:25px ;
    justify-content: space-evenly;
  }
}

@media (max-width: 380px) {
    .menu-container{
      font-size: 16px;
      justify-content: center;
    }

    .card{
      min-width:300px;
    }
}